/* this is the css styling to centre the main section  */
main {
    height: 50vh;
}

/* this is the css styling for the contact boxes */

main form {
    display: grid;
    width: 400px;
    align-items: center;
    grid-gap: 0.5em;    
    grid-template-columns: 50% 50%;
    grid-template-areas: "name name"
        "email-address email-address"
        "mobile-number mobile-number"
        "message-area message-area"
        "submit submit";
    top: 28%;
    left: 28%;
    position: relative;
}

.submit {
    /* grid-column: 2; */
    grid-column: 1/3;
}