/* this section contains the css styling for the introduction paragraph */

body main h1 {
    text-align: center;
    font-size: 2em;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding: 1em;
}


body main p {
    text-align: center;
    font-size: 1em;
    color: white;
    font: Courier;
}


/* this section contains the css styling for the photo on the homepage */

.portrait-section {
    display: flex;
    justify-content: center;
    padding-top: 3em;
}


.portrait {
    width: 12em;
    height: auto;
    border-radius: 1em;
}